<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/united/bootstrap.min.css" />
    <link href="public/style.css" rel="stylesheet">

    <title>de:code 17 TL03 demo app</title>
</head>

<body>
    <h1>Multi room video chat demo!</h1>
    <h2>Room:
        <%= roomName %>
    </h2>

    <video id="" autoplay></video>
    <div id="videos"> </div>
    <script>
        const roomName = '<%= roomName %>';
    </script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="public/script.js"></script>

</body>

</html>